/* базовые цвета текста */
$text-color-base: #2f3035;
$text-color-light: #C4C4C4;

/* базовые цвета макета */
$color-base: #F0F0F4;
$color-accent: #1C62CD;


$disabled: #adadad;
$icon-fill: #b5b5b5;


/* для внутренних элементво сайта (кнопок) */
$icon-animation: 0.2s all ease-in; /* анимация для svg элементов, являющихся кнопками или другими эл. управления */

/* общий стиль теней для всех объектов на сайте */
$shadow-animation: 0.2s box-shadow ease-in; 
 